.App {
  height: 100%;
}

.full-body {
  width: 100%;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1;
}

.about-graphic {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;

}


.logo-top {
  position: fixed;
  z-index: 999999;
  top: 32px;
  left: 32px;
  background: #00000045;
  backdrop-filter: blur(10px);
  border-radius: 1000px;

}

.quote {
  margin-top: 200px;
  max-width: 1200px;
  padding: 32px;
}

section {
  min-height: 100vh;
}

.about-section {
  max-width: 1200px;
}

h2 {
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 80%;
    color: #898989;
}
h1 {
font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  /* or 72px */
    color: #fff;
}

h3 {
font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80%;
  color: #fff;
  margin: 0;
  margin-bottom: -20px;
}

h4 {
font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80%;
  color: #8F8F8F;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  display: inline-block;
  text-decoration: none;
  gap: 16px;
  /* Black */
  background: #231F20;
  border-radius: 8px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  letter-spacing: -0.05em;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button::after {
  content: '\2192';
  margin-left: 10px;
  font-size: 20px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 32px;
}

p {
  color: #fff;
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: -20px;
}

.about-us {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.about-info {
  padding: 32px;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-cta {
  width: 90%;
  max-width: 1000px;
  background-color: #DF5690;
  padding: 40px;
  border-radius: 16px;
  z-index: 1;
  margin-bottom: -10%;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-direction: column;
  z-index: -1;
  min-height: 50vh;
}

.about-info h4 {
  margin: 40px 0px;
}

.bottom-cta h1 {
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 96px */
    letter-spacing: -0.05em;
    /* Black */
    color: #231F20;
    margin: 0;
}

.bottom-cta h2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 64px !important;
  line-height: 120%;
  /* identical to box height, or 96px */
  letter-spacing: -0.05em;
  color: rgba(35, 31, 32, 0.7);
  margin: 0;
  margin-bottom: 16px;
}

footer {
  background-color: #151515;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
}

footer .content {
  width: 100%;
  max-width: 1080px;
  display: flex;
  margin: auto;
  align-items: center;
}

footer .content div {
  display: flex;
}

.name {
  flex: 1;
}

.social {
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.social:hover {
  background-color: #ffffff20;
}

footer h3 {
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */
    margin-left: 16px;
    color: #FFFFFF;
}